body {
    main {
        .titulo {
            color: #FFFFFF;
            text-align: center;

            h2 {
                font-size: 18px;
                font-weight: 600;
            }
            
            h3 {
                font-family: 'Playfair Display', serif;
                font-size: 130px;
            }
        }
    }
}